.jupiter-gradient {
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #19547b,
    #ffd89b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #19547b,
    #ffd89b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.telegram-gradient {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.square-img-container {
  position: relative;
}

.square-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.square-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.container {
  margin: 3rem;
  border: 1px solid #f2f2f2;
}

.container-fluid {
  border: solid 1px;
}

.table-head {
  background-color: #273e4e;
}
